<!DOCTYPE html>
<html lang="en">
<head>
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
      type="image/x-icon"
    />
    <meta property="og:title" content="Sweeter - the sweetest site" />
    <meta property="og:description" content="mini project for Web Plus" />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='ogimage.jpg') }}"
    />


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page About</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">

</head>
<body>
    <section class="hero is-success ">
        <div class="hero-body">
            <p class="title is-3 has-text-white">Secret Pages</p>
          <p class="title is-5 has-text-white">Selamat Datang, {{ user_info.profile_name }}</p>
          <p class="subtitle is-5 has-text-white">You need to be logged in to see this</p>
        </div>
      </section>
</body>
</html>